.progress_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76vw;
  min-height: 80vh;
  //   background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .title {
    margin: 20px 0;
  }

  .content {
    width: 90%;
  }
  .tien_do {
    width: 90%;
    margin: 15px 0;
  }
}
