.manage_page {
  width: 70vw;
  height: 80vh;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .top-content {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-content > p {
    margin-left: 20px;
    /* margin-right: 20px; */
  }

  .top-content button {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 0.9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .content > table {
    margin-right: 20px;
  }

  .bottom_content {
    position: absolute;
    bottom: 0;
    width: 71vw;
  }

  .bottom_content > .btn {
    float: right;
  }

  .bottom_content button {
    margin-right: 14px;
    margin-bottom: 10px;
    /* float: right; */
  }

  .no_content {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.loading_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
